/*css reset*/
*{
    box-sizing: border-box;
}
body,p,ul,li,h1,h2,h3,h4,h5,h6,dl,dd,dt{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    width: 980px;
    height: 1386px;
    font:14px "mircosoft yahei";
    margin:0 auto;
}
/*公共样式*/
.container{
    width:95%;
    margin:0 auto;
}
img{
    vertical-align: bottom;
}
/*模块样式*/
/**1、header**/
.top{
    border-bottom: 1px solid #938e8c;
}
.top_title{
    padding: 30px 20px 5px 10px;
    color: #fff;
    background: #d45d5c;
}
.top_date{
    color:#d45d5c;
    padding-top: 30px;
}
/**2、mian**/
.main{
    margin:20px 0;
}
/*banner*/
/*banner-img*/
.banner-img{
    position: relative;
}
.lf-mask,.rt-mask{
    width:30%;
    height: 100%;
}
.lf-mask{
    position: absolute;
    top:0;
    left: 0;
    background: #428C59;
    opacity: .5;
}
.rt-mask{
    position: absolute;
    top:0;
    right: 0;
    background: #CC7681;
    opacity: .5;
}
/*banner-content*/
.banner-content{
    max-height: 301px;
    padding-top: 5px;
    border-top: 2px solid #cc8091;
}
.banner-content-title{
    font-weight: normal;
    font-size: 1.2rem;
    border-bottom: 1px solid #000;

}
.banner-content-title:first-letter{
    font-size:1.5em;
    font-weight: 700;
}
.banner-content i{
    word-spacing: 5px;
}
.banner-content-body{
    font-size: 7em;
    letter-spacing: 5px;
    color:#75b86b;
    transform: skew(-10deg);
}
.banner-content-foot span{
    font-size: 2.7rem;
    color: #cc8091;
    padding-right: 5px;
}
.banner-content-bottom div{
    padding-top: 15px;
    font-size: 0.6rem;
}
.banner-content-bottom p:first-child{
    color: #cc8091;
}
/*main-mid*/
.panel{
    padding: 20px 0 30px;
    width: 640px;
}
.panel--what,.panel--when{
    text-align: justify;
    margin-right: 5%;
}
.panel--what{
    width: 35%;
}
.panel--when{
    width: 30%;
}
.panel--how{
    width: 25%;
}
.panel--what h3{
    color:#418c59;
    border-bottom: 1px solid #418c59;
}
.panel--when h3{
    color:#d2994f;
    border-bottom: 1px solid #d2994f;
}
.panel--how h3{
    color:#cc7680;
    border-bottom: 1px solid #cc7680;
}
.panel--how ul{
    margin-top: 3em;
}
.panel--how i{
    color:#cc7680;
}
/**main-bottom**/
/*左*/
.article{
    width: 45%;
}
.article_title{
    font-size: 2em;
    word-spacing:10px;
    color:#11456b;
}
.article_title strong{
    display: inline-block;
    font-size: 1.5em;
    color: #f5e327;
    transform: skew(-10deg);
    padding-right: 10px;
}
.article_sub-title{
    margin-bottom: 10px ;
    font-size: 1.4rem;
    border-bottom: 2px solid #11456b;
}
.article_content{
    text-align: justify;
    position: relative;
}
.article_content p:first-of-type:first-letter {
    margin-right: 5px;
    font-size: 3em;
    color: #f5e327;
    float: left;
}
.article_content p:last-child{
    text-indent: 2em;
}
.article_dec-pic{
    float: right;
    margin: 10px 0 5px 10px;
}
/*右*/
.aside_img{
    position:relative;
}
.aside_img-title{
    position: absolute;
    bottom:0;
    left:0;
    width: 458px;
    height:50px;
    padding-left: 2em;
    background-color: rgba(0,0,0,0.6);
    line-height: 50px;
}
.aside_img-name{
    border-left: 2px solid #72b16a;
    padding-left: 10px;
    padding-right: 10px;
    color:#fff;
    font-size: 1.8em;
}
.aside_img-describe{
    color:#72b16a;
}
.aside_nav{
    width: 458px;
    height: 334px;
    background: #eeedd6;
    margin-top: 20px;
}
.aside_nav ul{
    padding: 20px;
}
.aside_nav-item{
    line-height:40px;
    letter-spacing: 2px;
}
.aside_nav-item b{
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url(img/01.png) no-repeat -65px 0;
    padding-right: 20px;
    /*459*/
}
.label{
    float: left;
    width: 250px;
    height:184px;
    margin-top: -10px;
    background: #d45d5c;
    color: #fff;
}
.label_title{
    float: left;
    font-size: 9em;
    padding-left: 10px;
    font-weight: normal;
    margin-right: 5px;
}
.label_detail{
    float: left;
    width: 160px;
    height: 120px;
    margin-top: 30px;
    padding:10px 0 0 10px;
    border-left: 2px solid #fff;
    font-weight: normal;
    font-style: italic;
    word-spacing: 4px;
}
.label_detail span{
    font-size: .6rem;
    font-style: normal;
    word-spacing: 2px;
}
.aside-detail{
    float: right;
    width:170px;
    margin-right: 20px;
    text-align: justify;

}
.aside-detail b{
    float: left;
    width: 26px;
    height:22px;
    margin-right: 25px;
    margin-top: -10px;
    background: url(img/01.png) no-repeat 0 0;
}
.aside-detail b:last-child{
    float: right;
    margin-top: 0;
    margin-right:0;
    background-position: -35px 0;
}
/*3、footer*/
.footer{
    margin-top: 30px;
    border-top: 1px solid #000;
}
.footer p{
    float: right;
    color: #d45d5c;
}